.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-items: center;
    margin: 20px 0;
}
.title{
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  height: 50px;
  font-family: "Playwrite NG Modern", cursive;
   font-optical-sizing: auto;
   font-style: normal;
}

@import url("../utils/ProductLists/productlist.css")