body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
 
  
  header .logo h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hero {
    /* background: url('hero-image.jpg') no-repeat center center/cover; */
    color: white;
    padding: 5rem 0;
    text-align: center;
  }
  
  .hero h2 {
    margin: 0 0 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
  }
  
  .hero .btn {
    background-color:#3a0ca3;
    color: white;
    padding: 0.5rem 1rem;
    margin: 10px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .features {
    padding: 3rem 0;
    text-align: center;
  }
  
  .features h3 {
    margin-bottom: 2rem;
  }
  
  .features .feature {
    display: inline-block;
    margin: 0 ;
    text-align: center;
  }
  
  .features .feature img {
    width: 350px;
    height: 200px;
    object-fit: cover; 
  }
  
  .features .feature h4 {
    margin: 1rem 0 0.5rem;
  }
  
  .how-it-works {
    background-color: #f4f4f4;
    padding: 3rem 0;
    text-align: center;
  }
  
  .how-it-works h3 {
    margin-bottom: 2rem;
  }
  
  .how-it-works .step {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  footer ul li {
    display: inline;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  .hero .hero-buttons {
    margin-top: 2rem;
  }
  .hero .hero-buttons h1 {
    margin-top: 2rem;
  }
  

.hero .container h1{
 
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
  
.hero .container .countup { 
    color: red;
  }
  .hero h2 {
    margin: 4rem 0 1rem; /* added 2rem margin top */
  }

  @import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
  

  